<!DOCTYPE HTML>

<html>
	<head>
		<title>카드 제작</title>
		<!-- 글자 스타일-->	
		<style>
		
		@font-face{
		font-family:font1;
		src:url("./font/빨간우체통.ttf")
		}

		@font-face{
		font-family:font2;
		src:url("./font/배달의민족.ttf")
		}
		.title{
			font-family:font1;
			position:absolute;
       		top:350px;
        	left:690px;
        	font-size:25px;
			color:hotpink
		}
		.who{
			font-family:font1;
			position:absolute;
       		top:400px;
        	left:820px;
        	font-size:17px;
			color:purple
		}
		.docu{
			font-family:font1;
			position:absolute;
       		top:430px;
        	left:700px;
        	font-size:15px;
			color:palevioletred
		}

		.number{
			font-family:font2;
			position:absolute;
       		top:570px;
        	left:870px;
        	font-size:10px;
			color:gray
		}

		.date_place{
			font-family:font1;
			position:absolute;
       		top:500px;
        	left:790px;
        	font-size:15px;
			color:green
		}
		</style>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<style>
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			li{
				float: left;
			}
		</style>
	</head>
	<body class="is-preload">

		<!-- Header -->
            <header id="header">
				<div class="inner">
					<img src="/images/avatar_1.jpg" class="image avatar" alt="" /><br>
					<a href="/login" class="myButton">logout</a>
                    <h1><a href="/index">main</a><br />
					<strong><a href="/card">card design</a></strong><br />
					<a href="/Q&A">Q&A</a></h1>
				</h1>
				</div>
			</header>

			<div id="main">
					<section id="one">
						<h2>♡Card Production♡</h2>
					</section>

					<section id="two">
						
						<div class="row">
							<article class="col-8 work-item">
								<img src="/images/청첩장1_2.png" class="image fit" alt="" />
							</article>
                            <form>
								주문 되었습니다. <br><br>
								추가 하고 싶은 내용이 있으시다면 아래에 입력해주세요. <br><br>
								<div class="col-6 col-12-xsmall"><input type="text" name="text" id="text" placeholder="추가 하고싶은 내용을 입력해주세요." /></div>
								
								<br>
								<ul>
									<li><a href="#"><img src="/images/facebook.png" width="50" alt="" /></a><br></li>
									<li><a href="#"><img src="/images/instagram.png" width="50" class="a" alt="" /></a><br></li>
									<li><a href="#"><img src="/images/twitter.png" width="50" alt="" /></a><br></li>
								</ul>
								<br>
								<div class = "title"> <%= sinrang %> ♥ <%= sinbu %> 결혼합니다. </div>
								<div class = "who"><span style="color:blue">신랑 </span>: <%= sinrang %> <span style="color:hotpink">신부</span> : <%= sinbu %> </div>
								<div class = "docu">영원한 사랑, 영원한 행복을 약속하는 두사람이<br>하 나가 되는 순간을 축복해주십시오.
								</div>
								<div class = "date_place"> 장소:<%= place %> <br>  일시:<%= date %></div>
								<div class = "number">전화번호:<%= phonenumber %></div> 

                                <a href="/index" class="button">Check♡</a>
                                                
                            </form>
                        </div>
					</section>

					<section id="three">
						
					</section>
			</div>
	</body>
</html>